@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  margin: 0;
  padding: 3% 10%;
  width: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.links__desktop {
  text-decoration: none;
  color: #000;
}

.mobile__menu {
  display: none;
}

.mobile__hamburger {
  display: none;
  color: #000;
  font-size: 24px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #0290ff;
}

.user__profile__icon {
  color: #0290ff;
  border: 1px solid #888;
  padding: 5px;
  border-radius: 100%;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav__menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.nav__menu li {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
  font-size: 20px;
}

.nav__menu li:hover {
  text-decoration: underline;
  color: #000;
  font-size: 24px;
}

.books__container {
  display: flex;
  flex-direction: column;
}

.book__item {
  margin: 20px 0;
  padding: 30px 60px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.book__item:hover {
  border: 1px solid #81aed5;
}

.div__line {
  width: 100%;
  height: 0.125rem;
  margin: 0.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.Line__two {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.section__one {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section__one h2 {
  margin: 0;
}

.section__one p {
  margin: 0;
  padding-top: 10px;
  color: #81aed5;
}

.book__btn__section {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin-top: 20px;
}

.book__btn__section button {
  outline: none;
  border: none;
  border-right: 3px solid #e8e8e8;
  background-color: unset;
  padding: 4px 20px;
  color: #81aed5;
  font-family: 'Poppins', sans-serif;
}

.btn-no-left {
  padding: 2px 20px 2px 0 !important;
}

.btn-no-divider {
  border-right: none !important;
}

.section__three button {
  background-color: #0290ff;
  border: none;
  outline: none;
  margin-top: 15px;
  padding: 10px 5px;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.book__btn__section button:hover {
  color: #0290ff;
}

.section__two {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress__bar {
  width: 45%;
}

.progress-text {
  width: 45%;
}

.section__two h2 {
  margin: 0;
}

.section__three {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.section__three p {
  color: #d3d3d3;
  margin-top: 0;
  font-size: 14px;
}

.section__three h3 {
  margin: 0;
}

.AddBook h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.addbook__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add__btn {
  padding: 15px 4%;
  background-color: #0290ff;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.add__btn:hover {
  background-color: #0291ffce;
}

.input__fields {
  width: 35%;
  height: 50px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  letter-spacing: -0.15px;
}

@media screen and (max-width: 768px) {
  .mobile__menu {
    display: block;
    position: fixed;
    padding: 5%;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #272a31;
    z-index: 9;
    opacity: 0.8;
    transition: opacity 2s, visibility 2s;
  }

  .mobile__hamburger {
    display: block;
  }

  .nav__menu {
    display: none;
  }

  .close__btn {
    color: #fff;
    font-size: 25px;
    margin-top: 2%;
  }

  .mobile__menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .mobile__menu li {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .links__mobile {
    text-decoration: none;
    color: #fff;
  }

  .book__item {
    flex-direction: column;
  }

  .Line-2 {
    display: none;
  }

  .addbook__form {
    flex-direction: column;
  }

  .input__fields {
    width: 80%;
  }

  .add__btn {
    width: 40%;
  }
}
